html {
    font-size: 62.5%;
    color: #303030;
    font-family: 'Noto Sans KR';
}

body {
    margin: 0;
    background: linear-gradient( to top, steelblue, lightblue);
    padding-bottom: 320px;
}

header {
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 10px;
    font-size: 1.3rem;
}

nav {
    width: 50%;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.logo_img {
    width: 135px;
    position: relative;
    top: 4px;
}

main {
    padding-bottom: 27px;
    display: flex;
    justify-content: center;
}

a {
    color: #303030;
    text-decoration: none;
}

input {
    border: 0.5px lightgray solid;
    padding-left: 15px;
    font-size: 1.4rem;
}

.login_box,
.signup_box {
    margin-top: 130px;
    background-color: white;
    padding: 20px 0px;
    box-sizing: border-box;
    width: 290px;
    height: 300px;
    text-align: center;
    position: relative;
}

.login_title,
.signup_title {
    margin-top: 10px;
    margin-bottom: 32px;
    font-size: 2.5rem;
}

.login_wrapper,
.signup_wrapper {
    width: 73%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

.login_wrapper>* {
    height: 40px;
    box-sizing: border-box;
    display: block;
}

.signup_wrapper>* {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    display: block;
}

.button_box {
    display: inline-block;
    width: 100%;
    height: 45px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.social_login,
.login_button,
.signup_button {
    width: 48%;
    height: 43px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: steelblue;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.social_login {
    background-color: white;
    color: gray;
    font-size: 1.33rem;
    border: 0.5px lightgray solid;
    font-weight: 400;
}

.signup_ask {
    font-size: 1.2rem;
    color: steelblue;
    text-decoration: underline;
}

.error_message {
    font-size: 0.65rem;
    float: left;
    position: absolute;
    left: 42px;
    top: 75px;
}

.signup_button {
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    width: 115px;
}

.signup_wrapper {
    height: 165px;
}