{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>편-안</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mypage_editor.css' %}">
  </head>
  <body>
    <header id="header">
       <a href="{% url 'home' %}"><img class="logo_img"src="http://bitly.kr/YqkZ3WM87i" alt="logo"></a>
     <nav>
        <a href="{% url 'list_youtuber' %}" class="nav-item">모집공고</a>
        <a href="{% url 'list_editor' %}" class="nav-item">편집자목록</a>
          {% if user.is_authenticated %} 
         <a href="{% url 'mypage_youtuber' %}" class="nav-item">마이페이지</a>
         {% else %} 
           <a href="{% url 'login' %}" class="nav-item">로그인</a>
        {% endif %}
      </nav>
    </header>
<main> 
  <div class="profile_box">
    <div class="profile_image"></div>
    <div class="profile_content_box">
      <div class="profile_content_top"><p>상경님의 마이페이지</p></div>
      <div class="profile_content_bottom">
        <a href="{% url 'profile' %}" class="edit"><span>개인정보수정</span></a>
        <a href="" class="chat"><span>내 쪽지함(3)</span></a>
        <a href="{% url 'logout' %}" class="logout"><span>로그아웃</span></a>
      </div>
    </div>
  </div>
  <div class="select_box">
    <a href="{% url 'mypage_youtuber' %}" class="youtuber_mode">유튜버 모드</a>
    <a href="{% url 'mypage_editor' %}" class="editor_mode">편집자 모드</a>
  </div>
  <div class="status_box">
    <a href="" class="status_item one">
      <p>신청중</p>
      <strong>3</strong>
    </a>
    <div class="item_border">|</div>
    <a href="" class="status_item two">
      <p>계약중</p>
      <strong>5</strong>
    </a>
    <div class="item_border">|</div>
    <a href="" class="status_item three">
      <p>결제</p>
      <strong>1</strong>
    </a>
  </div>
  <div class="list_box">
    <p class="list_title">지원한 모집 공고</p>
    <div class="list_item_wrapper">
      <div class="list_item">
        <div class="list_item_img"></div>
        <div class="list_item_title">"후회하지 않을 세련된 영상 만듭니다."</div>
      </div>
      <div class="list_item">
        <div class="list_item_img"></div>
        <div class="list_item_title">"후회하지 않을 세련된 영상 만듭니다."</div>
      </div>
      <div class="list_item">
        <div class="list_item_img"></div>
        <div class="list_item_title">"후회하지 않을 세련된 영상 만듭니다."</div>
      </div>
      <div class="list_item">
        <div class="list_item_img"></div>
        <div class="list_item_title">"후회하지 않을 세련된 영상 만듭니다."</div>
      </div>
    </div>
  </div>
  <div class="list_box">
    <p class="list_title">찜한 모집 공고</p>
    <div class="list_item_wrapper">
      <div class="list_item">
        <div class="list_item_img"></div>
        <div class="list_item_title">"후회하지 않을 세련된 영상 만듭니다."</div>
      </div>
      <div class="list_item">
        <div class="list_item_img"></div>
        <div class="list_item_title">"후회하지 않을 세련된 영상 만듭니다."</div>
      </div>
    </div>
  </div>
    <div class="list_box">
    <p class="list_title">내 에디터 프로필</p>
    <div class="list_item_wrapper">
      <div class="list_item">
        <div class="list_item_img"></div>
        <div class="list_item_title">"후회하지 않을 세련된 영상 만듭니다."</div>
      </div>
    </div>
  </div>
  
  
</main>
    <footer>
      <p>@copyright likelion</p>
    </footer>

</body>
  
</html>