{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>편-안</title>
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
  </head>
  <body>
    <header id="header">
       <a href="{% url 'home' %}"><img class="logo_img"src="http://bitly.kr/YqkZ3WM87i" alt="logo"></a>
     <nav>
        <a href="{% url 'list_youtuber' %}" class="nav-item">모집공고</a>
        <a href="{% url 'list_editor' %}" class="nav-item">편집자목록</a>
          {% if user.is_authenticated %} 
         <a href="{% url 'mypage_youtuber' %}" class="nav-item">마이페이지</a>
         {% else %} 
           <a href="{% url 'login' %}" class="nav-item">로그인</a>
        {% endif %}
      </nav>
    </header>
<main> 
 <p class="profile_title">개인정보수정</p>
 <div class="profile_box">
   <div class="profile_wrapper first">
     <div class="profile_img_box">
       <div class="profile_img"></div>
     </div>
     <div class="profile_first_wrapper">
       <p class="profile_img_title">프로필 사진</p>
       <div class="profile_img_wrapper">
         <input type="file" class="profile_img_input">
       </div>
     </div>
   </div>
   <div class="profile_wrapper">
     <span class="profile_item_title">이름</span>
     <p class="profile_item name">{{ profile.name }}</p>
   </div>
   <div class="profile_wrapper">
      <span class="profile_item_title">성별</span>
      <p class="profile_item gender">{{ profile.gender }}</p>
   </div>
   <div class="profile_wrapper">
     <span class="profile_item_title">생년월일</span>
     <p class="profile_item birth">{{ profile.birth }}</p>
   </div>
   <div class="profile_wrapper">
     <span class="profile_item_title">전화번호</span>
     <p class="profile_item phone">{{ profile.phone }}</p>
   </div>
      <div class="profile_wrapper">
     <span class="profile_item_title">이메일</span>
     <p class="profile_item email">{{ profile.email }}</p>
   </div>
 </div>
  <div class="button_box">
    <button type="submit" class="edit_button">수정하기</button>
  </div>
</main>
    <footer>
      <p>@copyright likelion</p>
    </footer>

</body>
  
</html>